/* Resets Page Boundaries */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* /Resets Page Boundaries */

.form {
    height: 40px;
    width: 320px;
    border: 2px red solid;
    border-radius: 1rem 0 0 1rem;
    color: black;
    background-color: white;
}

.form-btn {
    height: 40px;
    width: 120px;
    border-radius: 0 1rem 1rem 0;
    border:2px red solid;
    color: black;
    background-color: white;
}

.form-btn:hover {
    border:2px lightblue solid;
    transition: 0.3s;
    background-color: rgba(28, 30, 78, 0.750);
    color: white;
}




@media only screen and (max-width: 1024px) {
    .form-btn {
        width: 110px;
        padding: 10px;
    }

    .form {
        width: 240px;
    }
}

@media only screen and (max-width: 950px) {
    .form-btn {
        width: 70px;
    }

    .form {
        width: 150px;
    }
    
    .form-con {
        display: flex;
    }
}

@media only screen and (max-width: 650px) {
    .form-btn {
        width: 70px;
    }

    .form {
        width: 130px;
    }

    .form-con {
        display: flex;
    }
    
}